@using Translator_Project_Management.Models.Presentation;
@model IEnumerable<TaskDetailsViewModel>

<h1>Assigned Tasks</h1>

		@foreach (var taskDetailsVM in (IEnumerable<TaskDetailsViewModel>)ViewData["AssignedTasks"])
		{
			<h4>@taskDetailsVM.Name</h4>
			<table class="table table-condensed table-hover">
				<thead>
					<tr class="bg-light">
						<td scope="col">Line</td>
						<td scope="col">Translation</td>
					</tr>
				</thead>
				<tbody>
				@foreach (var task in taskDetailsVM.Tasks)
				{
				<tr>			
					<td>@task.Source</td>
					<td>
						<form enctype="multipart/form-data" asp-action="SetLineTranslation" method="post">
							<input type="hidden" name="sourceId" value="@task.SourceId"/>
							<input type="hidden" name="fileId" value="@task.FileId" />
							<input type="textarea" name="translation" value="@task.Translation"/>
							<button type="submit" class="btn btn-primary">Set translation</button>
						</form>
					</td>
				</tr>
				}
				</tbody>
			</table>
		}
	
