@using Translator_Project_Management.Models.Presentation
@model IEnumerable<Translator_Project_Management.Models.Presentation.ProjectDetailsViewModel>

@{
	ViewData["Title"] = "Projects";
}

<head>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" href="~/css/projects.css" type="text/css" />
</head>

<div>	
	<table class="table table-condensed table-hover">
		<thead>
		<tr class="bg-light">
			<td scope="col">Name</td>
			<td scope="col">Start Date</td>
			<td scope="col">Due Date</td>
			<td scope="col">Status</td>
			<td scope="col">Description</td>
			<td scope="col">Client</td>
			<td scope="col">Manager</td>
			<td scope="col" class="text-center" colspan="3">Actions</td>
			</td>
		</tr>
		</thead>
		<tbody>
		@foreach (var projectPresentation in (IEnumerable<ProjectDetailsViewModel>)ViewData["projects"])
		{
			<tr class="accordion-header center">
				<th scope="row">@projectPresentation.Project.Name</th>
				<td>@projectPresentation.Project.StartDate</td>
				<td>@projectPresentation.Project.DueDate</td>
				<td>@projectPresentation.Project.Status</td>
				<td>@projectPresentation.Project.Description</td>
				<td>@projectPresentation.Details.ClientName</td>
				<td>@projectPresentation.Details.ManagerName</td>
				<td>
					<button class="btn bg-transparent toggle-button" data-bs-target="#collapse-id-@projectPresentation.Project.Id" role="button">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
							<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
							<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
						</svg>
					</button>
				</td>
				<td>
					<button class="btn bg-transparent">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
						</svg>
					</button>
				</td>
				<td>
					<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#myModal" onclick="setProjectIdInModal('@projectPresentation.Project.Id')">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
							<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
							<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
						</svg>
					</button>
					<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="myModalLabel">Are you sure you want to delete the project?</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
										<b>This will delete the project and any of its' associated files.</b>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									@using (Html.BeginForm("Delete", "Projects", FormMethod.Post))
									{
										<input type="hidden" name="projectId" id="projectId" value="">
										<button type="submit" class="btn btn-danger" name="projectId">Delete</button>
									}
								</div>
							</div>
						</div>
					</div>

				</td>
			</tr>

			<tr id="collapse-id-@projectPresentation.Project.Id" class="collapse">				
				<td colspan="10">
				<p>Files included:</p>
				@foreach (var file in (@projectPresentation.Details.Files))
				{
					<div class="accordion-collapse">						
						<div class="container">
							<div class="row">
								<div class="col">
									<p>@file.Name</p>
								</div>
								<div class="col">
									<button type="button" class="btn btn-secondary">View Lines</button>
								</div>
								<div class="col">
									<form enctype="multipart/form-data" asp-action="DeleteFile" method="post">
									<input type="hidden" name="fileId" value="@file.Id" />
									<button type="submit" class="btn btn-danger">Delete</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				}
				<div>
					<form enctype="multipart/form-data" asp-action="AddFile" method="post">
						<div class="container">
							<div class="row">
								<div class="col">
									<input type="hidden" name="projectid" value="@projectPresentation.Project.Id" />
									<input type="file" name="file" />
								</div>
								<div class="col">
									<button type="submit" class="btn btn-primary">Upload file</button>
								</div>
							</div>
						</div>
					</form>
				</div>					
				</td>
			</tr>
		}
		</tbody>
	</table>

	<button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("Create", "Projects")'">Create Project</button>
</div>

<script>
	const toggleButtons = document.querySelectorAll('.toggle-button');

	toggleButtons.forEach(button => {
		const targetCollapse = document.querySelector(button.dataset.bsTarget);
		button.addEventListener('click', () => {
			targetCollapse.classList.toggle('show');
		});
	});

	function setProjectIdInModal(projectId)
	{
		$('#myModal input[name="projectId"]').val(projectId);
	}	
</script>